$cBgColor:#e8e8e8;
$cHomeBgColor:#000000;
$cText:#5c6870;
$cHomeText:#ffffff;

$nMainTitle: #ffffff;
$nSubTitle: #c0c2c4;
$cMainTitle:#27364a;
$cBgNav: #57626a;
$contentMinWidth: 360px;
$contentMaxWidth: 1100px;

