@use "../globals" as *;
@use "../parts/common" as *;

.contact {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    color: #27364a;
    font-size: 1.2rem;
    @include mq(600) {
        font-size: 1.6rem;
    }
    &__container {
        width: 100%;
    }
    &__table {
        width: 100%;
        line-height: 1.5;
        @include mq(600) {
            width: 70%;
            margin: auto;
        }
        & td {
            padding-bottom: 2rem;
            @include mq(600) {
                padding-bottom: 1rem;
                padding-left: 50px;
            }
            &:nth-child(2n):hover {
                & a {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
    &__text {
        text-decoration: underline;
        color: $cText;
        text-align: end;
        margin-top: 2rem;
    }
}
